.sfdx
.idea

# Added by Illuminated Cloud
.localdev/
/IlluminatedCloud/
/out/
target/
node_modules/
/.illuminatedCloud/
**/tsconfig*.json
**/*.tsbuildinfo
**/graphql.config.yml
/global-copliot-instructions.md
